<!DOCTYPE html>
<html>
  <head>
    <title>SweetenChellenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>

    <div id='flash-messages'>
      <%= render 'flash_messages' %>
    </div>

    <%= yield %>
  </body>
</html>
